
.site-element {
    display: flex;
    flex-direction: column;
    height: 115px;
    width: 363px;
    border-radius: 14px;
    background-color: var(--font-white-color);
    box-shadow: 0 8px 18px 10px rgba(0, 0, 0, 0.02);
    padding: 15px;
    
}

.site-title {
    display: flex;
    justify-content: space-between;
}

.site-img {
    height: 50px;
    width: 50px;
}

.site-name {
    height: 27px;
    width: 93px;
    color: var(--font-blue-color);
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 27px;
}

.site-details .copy-password {
    display: flex;
    margin-left: -10px;
    margin-top: 6px;
}

.site-details .copy-password p {
    height: 17px;
    width: 90px;
    color: var(--input-border-bot-color);
    font-size: 12.6px;
    margin-top: 6px;
    margin-left: 5px;
    cursor: pointer;
}

.site-link {
    margin-top: 13px;
    text-align: center;
}

.site-link p {
    font-size: 16px;
    color: var(--font-black-color);
    cursor: pointer;
}