.toast-success {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 44px;
    width: 513px;
    border: 1px solid var(--success-border-color);
    border-radius: 2px;
    background-color: var(--success-background-color);
    padding: 15px;
    margin-bottom: 25px;
}

.toast-success p{
    color: var(--success-text-color);
    font-size: 14px;
}
.toast-success i{
    color: var(--success-text-color);
}